<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="progress-bar bg-primary progress-bar-striped active m-2" style="height:7px;"
                [style.width]="getProgress1" role="progressbar"> </div>
                <div class="progress-bar bg-info progress-bar-striped active m-2" style="height:7px;"
                [style.width]="getProgress2" role="progressbar"> </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementer 
                    (changeProgress)="progress1 = $event" 
                    [progres]="progress1"
                    [btnClass]="'btn-primary'">
                </app-incrementer>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementer 
                    (changeProgress)="progress2 = $event" 
                    [progres]="progress2"
                    [btnClass]="'btn-info'">
                </app-incrementer>
            </div>
        </div>
    </div>
</div>